<h1> search for song </h1>
<form action='/search' method="POST">
  Search for a song: <input type="text" name="search_term" style="margin: 10px" /><br />
  
  <input type="submit" value="Submit" />
</form>

<a href="/"> go home </a>